{% extends 'base.html.twig' %}

{% block title %}Whist{% endblock %}

{% block body %}
<div class="container">
    <div class="jumbotron mt-3">
        <h1 class="display-3"><font style="vertical-align: inherit;">Whist</font></h1>
        <p class="lead"><font style="vertical-align: inherit;">Description du site</font></p>
        <hr class="my-4">
        <p><font style="vertical-align: inherit;">Autre info</font></p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button"><font style="vertical-align: inherit;">Lancez vous !</font></a>
        </p>
    </div>
</div>
{% endblock %}
