{% extends 'base.html.twig' %}

{% block title %}Whistoric{% endblock %}

{% block body %}
<div class="container">
    <div class="jumbotron mt-3">
        <h1 class="display-3"><span style="vertical-align: inherit;">Whistoric</span></h1>
        <h2>Historique de vos sessions de Whist et gestion des scores </h2>
        <p class="lead"><span style="vertical-align: inherit;">Cette application permet de calculer les scores de vos parties de Whist très simplement !</span></p>
        <hr class="my-4">
        <p><span style="vertical-align: inherit;">
        Vous avez la possibilité de définir vos propres tableaux des scores, et de les réutiliser. <br>
        De sauvegarder vos parties en cours ou terminées, pour évidemment soit les consulter soit reprendre la partie. <br>
        {#Il y aura également un système de classement entre vous, et peut être un classement général. <br>#}
        {#Il y aura deux systèmes de gestion des points, l'un avec des scores positifs uniquement pour les partants ( à venir )#}
        {#et l'autre avec des scores équilibrés entre chaque joueur ( pour un total = 0 ) #}
        </span></p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{{ path('whist_launch') }}" role="button"><span style="vertical-align: inherit;">Lancez une partie !</span></a>
        </p>
    </div>
</div>
{% endblock %}
